/* LAYOUT */

.wrap
{
    width: 980px;
    margin: 0 auto;
}

.wrap-full
{
    width: 980px;
    margin: 0 auto;
}

.padding
{
    padding: 10px;
}

.no-padding
{
    padding: 0;
}

.side-padding
{
    padding-left: 10px;
    padding-right: 10px;
}

.no-margin
{
    margin: 0;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.row
{
    *zoom: 1;
}

    .row:before, .row:after
    {
        display: table;
        content: "";
    }

    .row:after
    {
        clear: both;
    }

.col1
{
    width: 60px;
    float: left;
    margin: 10px;
}

.col2
{
    width: 140px;
    float: left;
    margin: 10px;
}

.col3
{
    width: 220px;
    float: left;
    margin: 10px;
}

.col4
{
    width: 300px;
    float: left;
    margin: 10px;
}

.col5
{
    width: 380px;
    float: left;
    margin: 10px;
}

.col6
{
    width: 460px;
    float: left;
    margin: 10px;
}

.col7
{
    width: 540px;
    float: left;
    margin: 10px;
}

.col8
{
    width: 620px;
    float: left;
    margin: 10px;
}

.col9
{
    width: 700px;
    float: left;
    margin: 10px;
}

.col10
{
    width: 780px;
    float: left;
    margin: 10px;
}

.col11
{
    width: 860px;
    float: left;
    margin: 10px;
}

.col12
{
    width: 940px;
    float: left;
    margin: 10px;
}
